<!DOCTYPE html>
<html>

  <link rel='stylesheet' href="/static/navBar.css";>
  <link rel='stylesheet' href="/static/gallery.css";>
  <nav class='navBar'>
    <ul>
      <li><a href='/logout'> Logout </a></li>
      <li><a href='/addImages'> Upload </a></li>
      <li class="navBarCurrent"><a href='/imgs'> Home </a></li>
    </ul>
  </nav>


<body>
	{{#each userImgs}}
	<div class="gallery">
			<a target="_blank" href="{{this.link}}">
    		<img src="{{this.link}}" alt="User photo" width="600" height="400">
			</a>
			<div class="desc">{{this.filename}}</div>
	</div>
	{{/each}}
</body>

<html>