<!DOCTYPE html>
<html>

  <link rel='stylesheet' href="/static/navBar.css";>
  <nav class='navBar'>
    <ul>
      <li><a href='/logout'> Logout </a></li>
      <li><a href='/addImages'> Upload </a></li>
      <li class="navBarCurrent"><a href='/imgs'> Home </a></li>
    </ul>
  </nav>


<body>
	<ul>
		{{#each userImgs}}
		<figure>
			<img src="{{this.link}}">
			<figcaption> {{this.filename}} </figcaption>
			</figure>
		{{/each}}
	</ul>
</body>

<html>